/node_modules
/public/hot
/public/storage
/storage/.key
/vendor/
/app/cache/
/app/logs/
/app/bootstrap*
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/bower/
/public/upload/
.gitignore
composer.lock
.idea/
storage/